.navbar_logo {
  width: 55px;
  height: 55px;
  margin-top: 20px;
  margin-left: 130px;
}
.navbar_brand_text {
  font-family: "DM Sans", Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 700;
  align-self: center;
  margin-top: 30px;
  margin-left: 10px;
  letter-spacing: 0.1rem;
}

.logo_container {
  display: flex;
  flex-direction: row;
}
