.intakeForm-Row {
  display: flex;
  flex-direction: row;
}

.intakeForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  width: 300px;
  border: solid 1px;
  border-radius: 2rem;
  background-color: white;
  margin-left: 5rem;
  margin-top: 2rem;
}
.intakeForm > h2 {
  margin-top: 0;
  margin-bottom: 0;
}
input,
label {
  display: block;
  text-align: center;
}

.input-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.input-div > input {
  margin: 0.3rem;
}

.upload-btn {
  margin-top: 1rem;
}
#file-input {
  margin-left: 3rem;
}

.metacard-preview-container {
  position: absolute;
  margin-top: 2rem;
  background-image: url("Green_screen_metacard.png");
  background-size: cover;
  background-color: white;
  border-radius: 1rem;
  width: 500px;
  height: 500px;
}

.preview-image {
  position: absolute;
  z-index: 2;
  left: 143px;
  top: 62px;
  border-radius: 10px;
  width: 215px;
  height: 385px;
}

.preview-name {
  position: relative;
  left: 165px;
  top: 62px;
  font-weight: bold;
  z-index: 5;
  text-align: center;
  background-color: black;
  padding-top: 1px;
  color: silver;
  width: 170px;
  height: 23px;
  border-bottom: 4px solid silver;
  border-left: 4px solid silver;
  border-right: 4px solid silver;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.preview-twitter {
  position: relative;
  left: 165px;
  top: 394px;

  z-index: 6;
  text-align: center;
  background-color: black;
  color: silver;
  width: 170px;
  height: 23px;

  border-top: 4px solid silver;
  border-left: 4px solid silver;
  border-right: 4px solid silver;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
